:root {
    --navbar-footer-color: #174918; 
    --hamburger-menu-color:#9ba39b;
    --active-menu-color: #DB566C; 
    --primary-text-color: #fff;
    --secondary-text-color: #1d1c1c;

    --spacing-small: 8px;
    --spacing-base: 16px;
    --spacing-medium: 24px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
}

.side-bar {
    background-color: beige;
    border-radius: 10px;
    color: var(--second-text-color);
    padding: 16px;
    position: sticky;
    top: 0;
    text-transform: capitalize;
    /* height: 100%; */
    width: fit-content;
}

.side-bar-animal {
    cursor: pointer;
}

.side-bar li,
.side-bar ul {
    cursor: pointer;
    list-style-type: none;
    padding: 4px 0;
    text-transform: capitalize;
}

.main-content {
    color: var(--secondary-text-color);
    display: flex;
    flex: 1;
}

.welcome-message {
    padding: var(--spacing-base);
}

.animal-info {
    display: none;
    height: 100%;
    padding: var(--spacing-base);
}

.animal-info h3 {
    text-transform: capitalize;
}

.animal-info a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

span {
    font-weight: bold;
}

.animal-img {
    height: auto;
    width: 100%;
    border: 2px solid var(--secondary-text-color);
    aspect-ratio: 1/1;
}



.hidden {
    display: none;
}

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/vecteezy_four-lions-and-two-monkeys-sitting-on-a-rock-by-the-water_31529133.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 200px;
    position: relative;
    z-index:10;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
}

footer {
    background-color: var(--navbar-footer-color);
    color: #FFF;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px;
}

.mobile-menu-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
}

.mobile-menu__trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 10px;
    background-image: url('img/MariasBurger.svg');
    background-size: cover;
    width: 30px; 
    height: 30px; 
    top: 10px;
    left: 10px;
    z-index:40;
}

.nav-bar {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: var(--hamburger-menu-color);
    z-index:30;
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ .nav-bar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.navigation a:hover {
    color: var(--active-menu-color);
}

.a.activepage {
    color: var(--active-menu-color);
}

.navigation {

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    list-style-type: none;
    /*padding: var(--spacing-base);*/
    margin: 0 10px;
    padding: 150px 0 0 0;
    font-size: 2rem;

}

.navigation li {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    margin: 15px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: #333;
}

.active {
    color: var(--active-menu-color);
}

.side-bar-animal {
    transition: background-color 0.3s ease;
}
.side-bar-animal:hover {
    color: var(--active-menu-color);
}

@media screen and (max-width: 333px) {
    .img-container {
        height: 12%;
    }
}

@media screen and (min-width: 768px) {

    .hero-text {
        font-size: 3rem;
    }

    #menuToggle {
        display: none;
    }

    .mobile-menu__trigger {
        display: none;
    }

    .nav-bar {
        position: sticky;
        top: 0;
        clip-path: unset;
        display:flex;
    }

    .navigation {
        margin: 0;
        background-color: var(--navbar-footer-color);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 1;
        flex-direction: row;
        padding: 8px;
        list-style-type: none;
        padding: 8px;
    }

    .navigation li {
        border: unset;
        padding: unset;
        width: unset;
    }

    .navigation a {
        background-color: var(--navbar-footer-color);
        color: white;
        text-decoration: none;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.2rem;
    }

    .nav-bar .active a {
        color: var(--active-menu-color);
    }

    .navigation a::after {
        border-bottom: 2px solid var(--active-menu-color);
        content: '';
        display: block;
        left: 50%;
        padding: 0 0 0;
        position: relative;
        max-width: 0%;
        transform: translateX(-50%);
        transition: max-width 0.5s;
        width: 100%;       
    }

    .navigation a:hover::after {
        max-width: 100%;
        padding: 0 10px;
    }

    .side-bar {
        top: 60px;
    }

    .img-container{
        aspect-ratio: 1/1;
        width: 30%;
    }
    
    .img-container-main {
        aspect-ratio: 1/1;
        width: 25%;
    }
    
    .info-flexbox {
        display: flex;
        
    }
    
    .short-info {
        margin-left: 15px;
    }

}

@media screen and (min-width: 1200px) {

    .img-container{
        aspect-ratio: 1/1;
        width: 25%;
    }

    .main-content {
        padding-right: 20%;
    }

    .animal-info-container {
        padding-left: 4%;
    }

}

